html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #0d253f, #01b4e4);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
