.content_wrap {
  padding-bottom: 5.6rem;
  overflow: auto;
}

.page_content {
  min-height: 100%;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: #0d253f;
  z-index: 100;
}

.footer_logo {
  width: auto;
  height: 10px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

/* stuff concerning hovering over a poster @ homescreen */
.item_container {
  position: relative;
  text-align: center;
  background-color: black;
  transition: transform .2s;
  box-shadow: 5px 5px 6px black;
}

.home_poster {
  width: 150px;
  height: auto;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 2px;
  color: #eaeaea;
  text-align: center;
  display: none;
  width: 9.75rem;
  margin-left: auto;
  margin-right: auto;
}

.item_container:hover {
  transform: scale(1.25);
  cursor: pointer;
  background-color: black;
}

.item_container:hover > .overlay {
  display: block;
}

.item_container:hover > .home_poster {
  opacity: 0.5;
}

@media (max-width: 600px) {
  .content_wrap {
    padding-bottom: 0 !important;
    overflow: auto;
  }
}
